body {
  height: 100vh;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
body:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../src/assets/background.jpeg);
  background-repeat: repeat;
  opacity: 0.1;
  content: "";
  z-index: -1;
  background-attachment: fixed;
}
iframe#webpack-dev-server-client-overlay {
  display: none !important;
  visibility: hidden !important;
}
