.helperContainer {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  background: rgb(230, 226, 226);
  border-radius: 25px;
  width: 250px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(58, 50, 50);
  margin-right: 100px;
  align-items: center;
}
.helperImage {
  margin-left: 40px;
  height: 15rem;
  width: fit-content;
}
.textContainer {
  text-wrap: wrap;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}
